.search {
	.input-group .form-control, .input-group-addon {
		
		$background : inherit;
		
		background    : $background;
		border        : $background;
		color         : $body-color;
		box-shadow    : none;
		padding       : 0;
		
		&::placeholder {
			color    : $body-color;
			opacity  : 0.25;
		}
	}
}


.general {
	
	
	$border: darken($body-bg, 15%);
	
	.input-group-addon {
		color: $darkBlue;
	}
	
	.input-group-addon, .form-control {
		min-height: 50px;
	}
	
	.form-control {
		
		&, &::placeholder{
			color: $border;
		}
	
	}
	
}